
<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href ="style.css"/>
    </head>
    
    <body>
        
        <nav>
            <div class= "table">
                <ul>
                    <li class="menu"><a href="Site1.html">Accueil</a></li>
                    <li class="menu"><a href="Site2.html">Progression</a></li>
                    <li class="menu"><a href="Site3.html">Références</a></li>
            
                </ul>
            </div>
        
        </nav>
        
        
        <section class="chrono">
            <h2>Chronologie</h2>
            <p>Après la validation du cahier des charges est venu la repartition des taches et donc le début de réalisation du projet.<br /> 
                
            </p>
            
            Voici une frise descriptive des taches réalisés avant la soutenance:
            <div class="history-tl-container">
                <ul class="tl">
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            5 mars 2021<br>
                        </div>
                        <div class="item-title">Départ</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            20 mars 2021<br> 
                        </div>
                        <div class="item-title">Structure des graphes</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            20 mars 2021<br> 
                        </div>
                        <div class="item-title">Interface d'édition</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            1er avril 2021<br> 
                        </div>
                        <div class="item-title">Site web</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            7 avril 2021<br> 
                        </div>
                        <div class="item-title">Soutenance 1</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            12 avril 2021<br> 
                        </div>
                        <div class="item-title">Création de graphes sur l'interface</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            27 avril 2021<br> 
                        </div>
                        <div class="item-title">Algorithme de plus court chemin</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            5 mai 2021<br> 
                        </div>
                        <div class="item-title">Soutenance 2</div>
                        <div class="item-detail"></div>
                    </li>

                    </ul>

                </div>
            
            Avec l'utilsation de l'algorithme de Dijkstra et les améliorations sur l'interface qui permettent de creer des graphes à partir d'un plan.
            Nous respectons le planning prévisionnel suivant.
            
            <h2>Avancements</h2>
            <p>Structures</p>
            <div class="container">
                <div class="skill Structures">100%</div>
            </div>
            <p>Algorithme de plus court chemin</p>
            <div class="container">
                <div class="skill Algo">50%</div>
            </div>
            <p>Interface/Editeur</p>
            <div class="container">
                <div class="skill Interface">70%</div>
            </div>
            
            <p>Saisie des données</p>
            <div class="container">
                <div class="skill Saisie">40%</div>
            </div>
            <p>
            Le seul retard à noter serait la partie Interface utilisateur et l'algorithme de plus court chemin qui ne fonctionne pas à 100%.
            </p>
        </section>
        
        <section class="Probs">
            <h2>Problèmes rencontrés</h2>
            <li>Manque d'organisation</li>
            <li>Manque de personnel</li>
        
        
        </section>

    </body>


</html>

