
<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href ="style.css"/>
    </head>
    
    <body>
        
        <nav>
            <div class= "table">
                <ul>
                    <li class="menu"><a href="Site1.html">Accueil</a></li>
                    <li class="menu"><a href="Site2.html">Progression</a></li>
                    <li class="menu"><a href="Site3.html">Références</a></li>
                    <li class="menu"><a href="Site4.html">Téléchargeable</a></li>
            
                </ul>
            </div>
        
        </nav>
        
        
        <section class="chrono">
            <h2>Chronologie</h2>
            <p>Après la validation du cahier des charges est venu la repartition des taches et donc le début de réalisation du projet.<br /> 
                
            </p>
            
            Voici une frise descriptive des taches réalisés avant la soutenance:
            <div class="history-tl-container">
                <ul class="tl">
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            5 mars 2021<br>
                        </div>
                        <div class="item-title">Départ</div>
                        <div class="item-detail">Début de la réalisation après le rendu du cahier des charges</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            20 mars 2021<br> 
                        </div>
                        <div class="item-title">Structure des graphes</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            20 mars 2021<br> 
                        </div>
                        <div class="item-title">Interface d'édition</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            1er avril 2021<br> 
                        </div>
                        <div class="item-title">Site web</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            7 avril 2021<br> 
                        </div>
                        <div class="item-title">Soutenance 1</div>
                        <div class="item-detail"></div>
                    </li>

                    </ul>

                </div>
            
        </section>
        
        <section class="Probs">
            <h2>Problèmes rencontrés</h2>
            <li>Surestimation des capacités avec le temps restant avant la soutenance (Partie interface et site web qui restent incomplet)</li>
            <li>Manque d'organisation</li>
            <li>Mise en commun des codes</li>
            
            <h2>Solutions envisagées</h2>
            <li>Plus de communications</li>
            <li>Avoir une meilleur organisation(Gantt)</li>
        
        
        </section>

    </body>


</html>

