
<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href ="style.css"/>
    </head>
    
    <body>
        
        <nav>
            <div class= "table">
                <ul>
                    <li class="menu"><a href="Site1.html">Accueil</a></li>
                    <li class="menu"><a href="Site2.html">Progression</a></li>
                    <li class="menu"><a href="Site3.html">Références</a></li>
                    <li class="menu"><a href="Site4.html">Téléchargeable</a></li>
            
                </ul>
            </div>
        
        </nav>
        
        
        <section class="chrono">
            <h2>Chronologie</h2>
            <p>Ce projet de S4 à pour but de réaliser un éditeur graphique permettant de...<br />
                Le groupe étant composé de seulement 2 membres nous nous sommes retraités sur un projet plus abordable pour optimiser le temps passé dessus.
                
            </p>
            
            <div class="history-tl-container">
                <ul class="tl">
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            3rd March 2015<br>
                        </div>
                        <div class="item-title">Départ</div>
                        <div class="item-detail">Début de la réalisation après le rendu du cahier des charges</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            19th March 2015<br>
                        </div>
                        <div class="item-title">Répartition des taches</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            1st June 2015<br> 
                        </div>
                        <div class="item-title">Structure des graphes</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            1st June 2015<br> 
                        </div>
                        <div class="item-title">Interface d'édition</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            1st June 2015<br> 
                        </div>
                        <div class="item-title">Site web</div>
                        <div class="item-detail"></div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            1st June 2015<br> 
                        </div>
                        <div class="item-title">Soutenance 1</div>
                        <div class="item-detail"></div>
                    </li>

                    </ul>

                </div>
            
        </section>
        
        <section>
            <h2>Problèmes rencontrés</h2>
            <p>Surestimation des capacités avec le temps restant avant la soutenance
            Manque d'organisation
            Mise en commun des codes</p>
            
            <h2>Solutions envisagées</h2>
            <p>Plus de communications
            Creer un gantt pour s'organiser</p>
        
        
        </section>

    </body>


</html>

