*{
	/*background-color: #ffffff;*/
    border: none;  
}

.input{
	background-color: #ffffff;
	margin: 7px;
	margin-left: 6px;
	margin-right: 6px;
	border-radius: 10px;
}
.sc-input{
    padding: 12px;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #6948ff;
	min-width: 310px;
	border-radius: 16px;
}
.sc-ride{
	background-color: #ffffff;
	padding: 10px;
}
.sc-ride > .frame{
	background-color: #eeeeee;
	border-radius: 14px
}
.sc-map{
	background-color: #ffffff;
	padding: 0px;
}
.sc-map > .frame{
	background-color: #eeeeee;
	border-radius: 14px
}
.zoom-btn {
    background: #6948ff;
	border-radius: 100px;
	font-size: 20px;
    margin-top: 10px;
    padding: 10px 14px;
	border: 0px solid #ffffff;
}

.zoom-btn:hover {
    background: #5b27eb;
}